body {
   font-family: 'Plus Jakarta Sans', sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.conatiner{
   flex:1;
}

.navbar{
    height: 5rem;
    background-color: #f2f0f0
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #000000 !important;
    font-weight: bolder !important;
}
.nav-link:hover{
   color: #fe424d !important;
}


.f-info-links a{
    text-decoration: none;
    color: black;
 }

 .f-info-links a:hover{
    text-decoration: underline;
 }
 
 .f-info-links,  .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
   
 }

 .f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }



 .listing-card{
    border: none !important;
    margin-bottom: 2rem;
 }

 .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

 }

 .card-body{
    padding: 0 !important;

 }
 .card-text{
    font-weight: 400 ;
 }

 .listing-link{
    text-decoration: none !important;
 }
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.form-button{
   border: 3px solid #fe424d;
   font-weight: 500;
   height: 2.5rem;
   width: 5rem;
   border-radius: 1rem;
}
.heading{
   color:  #fe424d;
}

.form-button:hover{
   border: 3px solid #ededed;
   background-color: #fe424d;
   color: white;
   font-weight: 500;
}
.form-control{
   border: 2px solid #fabcc0 !important;
}
.form-label{
   font-weight: 500 !important;
}
.form-control:enabled{
   box-shadow: 0px 0px 0px 0px white !important;
}
ul {
   list-style-type: none;
 }

 li::before {
   content: '\2192'; /* Unicode character for a bullet point */
   color: #fe424d; /* Change the color to your desired color */
   display: inline-block;
   width: 1em;
   margin-left: -1em; /* Adjust the spacing between the bullet point and the text */
 }


 .edit-listing{
   display: inline-block;
   padding: 0.5rem 0.7rem;
   text-decoration: none;
   background-color: white;; /* Green background color */
   color: black; /* White text color */
   border: 3px solid #fe424d; /* Green border */
   border-radius: 15px; /* Rounded corners */
   height: 2.5rem; /* Height */
   width: 5rem;
   overflow: hidden; /* Ensure text doesn't overflow */
   white-space: nowrap; /* Prevent text from wrapping */
   

 }
 .edit-listing:hover{
   border: 3px solid #ededed;
   background-color: #fe424d;
   color: white;
   font-weight: 500;
 }

.btns{
   display: flex;
}

/* show.ejs */
#owner-name {
   font-weight: bold;
     color: #000000; /* Text color */
     font-style: italic; /* Italicize the text */
 }

#owner-info {
    text-align: center;
    margin-top: 20px;
}
/* Map */

#map { 
   height: 400px;
   width: 80vh;
 }